<article class="listing">  
  <img src="{{place.image}}" alt="">
  <h3>{{spy.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{place.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{place.city}}
  </div>
</article>
{{yield}}
